.headerimg{
  float:left;
  padding: 10px;
  border: gray;
  margin: 0;
  display:inline-block;
}
.border {
	border: 1px solid black;
}
.header, .footer {
  width: 100%;
  clear:both;
  color: blue;
  padding: 10px;
  text-align: center;
}
